Options +FollowSymLinks +Indexes
DirectoryIndex index.php index.html

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>

<Directory />
    Options +Indexes +FollowSymLinks
    AllowOverride All
    Require all granted
</Directory>
