<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redirigir todo a index.php (excepto archivos y directorios existentes)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>

# Denegar acceso a archivos ocultos
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>
